<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <title>G_HUB</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <!-- Favicon -->
        <!-- Template CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
        <link href="../assets/css/dashboard.css" rel="stylesheet"/>
        
    
    </head>
    
    <body>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="#" class="brand-wrap">
                    <h2>G-HUB</h2>
                    <h3>Admin Panel</h3>
                </a>
                <a href="#" onclick="goBack()"><img src="../public/back-button-removebg-preview.png" id="back-button"></a>

            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item ">
                        <a class="menu-link" href="/adminPanel"> <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-menu_open"></i>
                            <span class="text">Categories</span>
                        </a>
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Products</span>
                        </a>
                        <li class="menu-item ">
                            <a class="menu-link" href="/admin/add"> <i class="icon material-icons md-plus"></i>
                                <span class="text">Add Product</span>
                            </a>
                        </li>
                        <li class="menu-item ">
                            <a class="menu-link" href="/admin/user-management"> <i class="icon material-icons md-person"></i>
                                <span class="text">User Management</span>
                            </a>
                        </li>
                        <li class="menu-item ">
                            <a class="menu-link" href="/admincoupons"> <i class="icon material-icons md-check_box"></i>
                                <span class="text">Coupon Management</span>
                            </a>
                        </li>
                        <li class="menu-item active">
                            <a class="menu-link" href="/offer-management"> <i class="icon material-icons md-redeem"></i>
                                <span class="text">Offer Management</span>
                            </a>
                        </li>
                        <li class="menu-item has-submenu">
                            <a class="menu-link" href="#"> <i class="icon material-icons md-star"></i>
                                <span class="text">Best Selling</span>
                            </a>
                            <ul class="submenu">
                                <li><a href="/bestSellingProducts">Best Selling Product </a></li>
                                <li><a href="bestSellingCategory">Best Selling Category </a></li>
                                <li><a href="/bestSellingBrands">Best Selling Brand </a></li>
                            </ul>
                        </li>
                        
                        <li class="menu-item ">
                            <a class="menu-link" href='/admin-orders'> <i class="icon material-icons md-book"></i>
                                <span class="text">Orders</span>
                            </a>
                        </li>
                        <li class="menu-item ">
                            <a class="menu-link" href='/admin-brand'> <i class="icon material-icons md-comment"></i>
                                <span class="text">Brand Management</span>
                            </a>
                        </li>
                        <li class="menu-item ">
                            <a class="menu-link" href='/customer-care'> <i class="icon material-icons md-headset"></i>
                                <span class="text">Customer Care</span>
                            </a>
                        </li>
                        <li class="menu-item ">
                            <a class="menu-link" href="#" id="logoutLink"> <i class="icon material-icons md-exit_to_app"></i>
                                <span class="text">Logout</span>
                            </a>
                        </li>
                        

                    </li>
                </ul>
                <hr>
                <br>
                <br>
            </nav>
        </aside>
        <main class="main-wrap">
            <section class="content-main">
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Edit Offer</h2>
                        
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="table responsive">
                                    <form action="/saveeditoffer/<%=offers._id%>" method="post"  id="editOfferForm"> 
                                        <div class="form-row align-items-center">
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label" name="product_name">Offer Name:</label>
                                                <input type="text" class="form-control mb-2" id="offerName" name="offerName" placeholder="Offer Name" maxlength="75" value="<%-offers.offerName%>">
                                            </div>
                                            <div class="mb-4">
                                                <label for="name" class="form-label">Discount On:</label>
                                                <select class="form-select mb-2" id="discountOn" name="discountOn" required>
                                                    <option <%=offers.discountOn==="category"?'selected':''%>>category</option>
                                                    <option <%=offers.discountOn==="product"?'selected':''%>>product</option>
            </select>                           
                                                </select>
                                            </div>
                                            <div class="mb-4">
                                                <label for="name">Discount value in %</label>
                                                <input type="text" class="form-control mb-2" id="discountValue" name="discountValue" placeholder="Discount in Percentage" value="<%-offers.discountValue%>">

                                            </div>
                                            <div class="mb-4">
                                                <label for="name">Start Date</label>
                                                <input type="date" class="form-control mb-2" id="startDate" name="startDate"  value="<%=formattedStartDate%>">

                                            </div>
                                            <div class="mb-4">
                                                <label for="name">End Date</label>
                                                <input type="date" class="form-control mb-2" id="endDate" name="endDate" value="<%=formattedEndDate%>">

                                            </div>
                                            <div class="mb-4" id="categorySelector" style="<%= offers.discountOn === 'category' ? '' : 'display: none;' %>">
                                                <label for="name" class="form-label">Select category</label>
                                                <select class="form-select mb-2" id="selectedCategory" name="selectedCategory">
                                                    <option value="" selected disabled>choose</option>
                                                    <% categories.forEach((category) => { %>
                                                        <option value="<%= category._id %>" <%= offers.discountOn === 'category' && offers.selectedCategory.toString() === category._id.toString() ? 'selected' : '' %>><%= category.name %></option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                            
                                            
                                            <div class="mb-4" id="productSelector" style ="<%= offers.discountOn === 'product' ? '' : 'display: none;' %>">
                                                <label for="name" class="form-label">Select Product</label>
                                                <select class="form-select mb-2" id="selectedProducts" name="selectedProducts">
                                                    <% products.forEach((product) => { %>
                                                        <option value="<%= product._id %>" <%= offers.discountOn === 'product' && offers.selectedProducts.toString() === product._id.toString() ? 'selected' : '' %>><%= product.name %></option>
                                                    <% }) %>
                                                </select>
                                            </div>
                                            
                                            

                                            <button type='submit' class="d-flex align-items-center justify-content-center">Save</button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div><!-- card end// -->
                    </div>
                </div> <!-- card end// -->
            </section> <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                    </div>
                </div>
            </footer>
        </main>
            <style>
            #back-button {
    width: 30px;
    }/* Style for the "Add category" button */
    button[type='submit'] {
        background-color: #4caf50; /* Green background color */
        color: #fff; /* White text color */
        padding: 10px 20px; /* Padding around text */
        border: none; /* Remove border */
        border-radius: 5px; /* Add border-radius for rounded corners */
        cursor: pointer; /* Change cursor to pointer on hover */
        transition: background-color 0.3s ease; /* Smooth transition on hover */
    }

    button[type='submit']:hover {
        background-color: #45a049; /* Darker green on hover */
    }


        
        </style>

        <script src="../assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="../assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="../assets/js/vendors/select2.min.js"></script>
        <script src="../assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="../assets/js/vendors/jquery.fullscreen.min.js"></script>
        <script src="../assets/js/vendors/chart.js"></script>
        <!-- Main Script -->
        <script src="../assets/js/custom-chart.js" type="text/javascript"></script>
        <!-- Main Script -->
        
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var form = document.getElementById('editOfferForm');
                var discountOnSelect = document.getElementById('discountOn');
                var categorySelector = document.getElementById('categorySelector');
                var productSelector = document.getElementById('productSelector');
    
                discountOnSelect.dispatchEvent(new Event("change")); // To trigger change event
                discountOnSelect.addEventListener('change', function () {
                    // Check the selected value
                    var selectedValue = discountOnSelect.value;
    
                    // Show/hide the categorySelector and productSelector based on the selected value
                    if (selectedValue === 'category') {
                        categorySelector.style.display = 'block';
                        productSelector.style.display = 'none';
                        productSelector.value = "";
                    } else if (selectedValue === 'product') {
                        categorySelector.style.display = 'none';
                        productSelector.style.display = 'block';
                        categorySelector.value = "";
                    } else {
                        // Hide both if neither category nor product is selected
                        productSelector.style.display = 'none';
                    }
                });
    
                if (form) {
                    form.addEventListener('submit', async function (event) {
                        event.preventDefault();
    
                        // Serialize form data into JSON
                        var formData = {};
                        new FormData(form).forEach((value, key) => {
                            formData[key] = value;
                        });
    
                        // Assuming you're using the Fetch API to make a request
                        try {
                            const response = await fetch('/saveeditoffer/<%= offerId %>', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(formData),
                            });
    
                            const responseData = await response.json();
    
                            if (responseData.status === 'success') {
                                // Successful response
                                Swal.fire({
                                    icon: "success",
                                    title: "success",
                                    text: responseData.message,
                                }).then(() => {
                                    window.location.href = '/offer-management'
                                })
                            } else if (responseData.status === 'error') {
                                // Error response from the server
                                Swal.fire({
                                    icon: "error",
                                    title: "Error",
                                    text: responseData.message || "Something went wrong",
                                });
                            }
                        } catch (error) {
                            // Network error or other issues
                            console.error("Error submitting form:", error);
                            Swal.fire({
                                icon: "error",
                                title: "Error",
                                text: "Something went wrong"
                            });
                        }
                    });
                }
            });
        </script>

        

    </body>

    </html>
